<td colspan="100%" style="text-align:center;">
  <button <%= hx_set get: inline_new_recebimentos_path(@hx_params || @params), target: "#recebimento-adicionar" %>>
    Adicionar recebimento
  </button>
</td>
