<div class="valores-cobrar-container" id="valores-cobrar-container">
<%= render "tabela-valores-cobrar", ultima_data: (Date.today - 1.month).end_of_month %>
<%= render "tabela-valores-cobrar" %>
<%= render "valores-a-ressarcir" %>
</div>
