<h1>Editing instrumento</h1>

<%= render "form", instrumento: @instrumento %>

<br>

<div>
  <%= link_to "Show this instrumento", @instrumento %> |
  <%= link_to "Back to instrumentos", instrumentos_path %>
</div>
