<% titulo "Instrumentos clínicos" %>
<p style="color: green"><%= notice %></p>

<h1>Instrumentos</h1>

<nav class="navbar navcenter">
  <ul>
    <li>
      <%= link_to "adicionar", new_instrumento_path, class: 'icon-plus' %>
    </li>
  </ul>
</nav>

<div class="grid-2" style="">
  <div id="instrumentos" class="" style="position:relative;max-height:50em;overflow-y:scroll;">
    <div class="grid-2">
      <% @instrumentos.em_ordem_alfabetica.each do |instrumento| %>
        <%= render 'instrumento-card', instrumento: instrumento %>
      <% end %>
    </div>
  </div>

  <div id="instrumento-show" class="documento instrumento-show" style="position:relative;max-height:50em;overflow-y:scroll;">
  </div>
</div>
