<h1>New acompanhamento reajuste motivo</h1>

<%= render "form", acompanhamento_reajuste_motivo: @acompanhamento_reajuste_motivo %>

<br>

<div>
  <%= link_to "Back to acompanhamento reajuste motivos", acompanhamento_reajuste_motivos_path %>
</div>
