<% pode_editar = usuario_atual.secretaria? || usuario_atual.profissional == acompanhamento.profissional %>
<div id="acompanhamento-horarios-lista">
  <table>
    <caption>Horários do acompanhamento</caption>
    <thead>
    </thead>
    <tbody>
      <% acompanhamento.acompanhamento_horarios.each do |horario| %>
        <tr>
          <td>
            <%= horario.descricao_resumida %>
            <% if pode_editar %>
              <%= hx_link "excluir", acompanhamento_horario_path(acompanhamento, horario: horario.horario.strftime("%H:%M:%S"), horario_fim: horario.horario_fim.strftime("%H:%M:%S"), semana_dia_id: horario.semana_dia_id, authenticity_token: form_authenticity_token.to_s), verb: :delete, target: "#acompanhamento-horarios-lista", select: "#acompanhamento-horarios-lista", swap: "outerHTML" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if pode_editar %>
    <div id="acompanhamento-horario-new" style="text-align:center;">
      <%= render "acompanhamento_horarios/registrar_novo_horario_button" %>
    </div>
  <% end %>
</div>
