<h1>Editing atendimento local tipo</h1>

<%= render "form", atendimento_local_tipo: @atendimento_local_tipo %>

<br>

<div>
  <%= link_to "Show this atendimento local tipo", @atendimento_local_tipo %> |
  <%= link_to "Back to atendimento local tipos", atendimento_local_tipos_path %>
</div>
