<div id="profissionais-container">
  <%# <%= hx_request? ? "#{pluralize profissionais.count, 'profissional', 'profissionais'}" : "" %1> %>
  <div class="profissionais-container">
    <% profissionais.each do |pro| %>
      <%= render 'card', profissional: pro %>
    <% end %>
  </div>
  <div id="replace" style="text-align:center;margin:auto;">
    <% if @pagy && @pagy.page < @pagy.pages %>
      <button <%= hx_set get: profissionais_path(@params.merge(page: @pagy.page + 1)), target: "#replace", swap: "outerHTML" %>>
        Carregar mais
      </button>
    <% end%>
  </div>

  <% if hx_request? %>
    <span id="num_profissionais" hx-swap-oob=true><%= @contagem %></span>
  <% end %>
</div>
