<% titulo "Agenda - #{@profissional.descricao_completa}" %>

<h1>Agenda profissional</h1>
<h2><%= @profissional.descricao_completa %></h2>

<nav class="navbar navcenter">
  <ul>
    <li>
      <%= link_to "Profissional", @profissional, class: 'icon-user-tie' %>
    </li>
  </ul>
</nav>

<% dias_disponiveis = @profissional_horarios.map(&:semana_dia).uniq %>

<div class="grid-2">
  <%= render 'tabela-agenda', profissional: @profissional, pode_deletar: true %>
  <div style="padding:1em;">
  <%= render "agenda-form", profissional: @profissional %>
  </div>
</div>
