<% titulo "Profissionais" %>
<h1>Quadro de profissionais</h1>
<p>Profissionais cadastrados: <%= @profissionais.count %></p>
<% if !usuario_atual.nil? && (usuario_atual.secretaria?) %>
  <%= link_to "+ profissional", new_profissional_path %>
<% end %>

<br>

<input name="q"
       type="text"
       placeholder="Pesquisar por nome..."
       hx-get="/profissionais?ajax=true"
       hx-target="#profissionais-container"
       hx-trigger="keyup delay:500ms changed"
>
<div id="query-name-field">
</div>
<%= render "profissionais-container", profissionais: @profissionais %>
