<h1>Sexualidade</h1>

<dt>A criança demonstra curiosidade sexual?</dt>
<dd><%= sim_ou_nao sexualidade.curiosidade_sexual %></dd>

<dt>Qual a atitude dos pais em relação à curiosidade da criança sobre sexualidade?</dt>
<dd><%==  sexualidade.atitude_pais %></dd>

<dt>Como é a educação sexual dessa criança?</dt>
<dd><%==  sexualidade.educacao_sexual %></dd>

<dt>Há alguma outra consideração sobre a sexualidade da criança digna de citação?</dt>
<dd><%==  sexualidade.outras_consideracoes %></dd>

