<h1>Editing grupo atendimento</h1>

<%= render "form", grupo_atendimento: @grupo_atendimento %>

<br>

<div>
  <%= link_to "Show this grupo atendimento", @grupo_atendimento %> |
  <%= link_to "Back to grupo atendimentos", grupo_atendimentos_path %>
</div>
