<h1>Editing acompanhamento reajuste</h1>

<%= render "form", acompanhamento_reajuste: @acompanhamento_reajuste %>

<br>

<div>
  <%= link_to "Show this acompanhamento reajuste", @acompanhamento_reajuste %> |
  <%= link_to "Back to acompanhamento reajustes", acompanhamento_reajustes_path %>
</div>
