<h1>Editing biblioteca obra</h1>

<%= render "form", biblioteca_obra: @biblioteca_obra %>

<br>

<div>
  <%= link_to "Show this biblioteca obra", @biblioteca_obra %> |
  <%= link_to "Back to biblioteca obras", biblioteca_obras_path %>
</div>
