<% interno = markdown_to_html atendimento.anotacoes || "<center>-</center>" %>
<% if usuario_atual.secretaria? || atendimento.profissional == usuario_atual.profissional %>
  <div hx-get="<%= anotacoes_edit_atendimento_path(atendimento) %>" hx-target="#<%= dom_id(atendimento) %>_anotacoes">
    <%== interno %>
  </div>
<% else %>
  <%== interno %>
<% end %>
