<button hx-get="<%= horario_edit_atendimento_path(atendimento) %>" hx-target="#<%= dom_id(atendimento) %>_horario" >
  <%= "#{render_hora_brasil atendimento.horario}#{if !atendimento.horario_fim.nil? then ' até '.concat(render_hora_brasil atendimento.horario_fim) end}" %>
</button>
