<% titulo "Atendimentos" %>

<h1>Atendimentos</h1>

<nav class="navbar navcenter">
  <ul>
    <li>
      <%= link_to "Adicionar", new_atendimento_path, class: "icon-plus" %>
    </li>
  </ul>
</nav>

<%= render "atendimentos-form", atendimentos: @atendimentos, atendimentos_totais: @atendimentos_totais, pessoas: @pessoas %>

<%= render "atendimentos-container", atendimentos: @atendimentos %>
