<h1>ProfissionalDocumentoModelos#edit</h1>
<p>Find me in app/views/profissional_documento_modelos/edit.html.erb</p>

<%= render "form", profissional_documento_modelo: @profissional_documento_modelo %>
