<h1>Devolutivas</h1>
<% @devolutivas.each do |devolutiva| %>
  <div class="devolutiva">
    <h2><%= render_data_brasil devolutiva.data %>
    <h3>Feedback Responsável</h3>
    <%== markdown_to_html devolutiva.feedback_responsavel %>
    <h3>Orientações do profissional</h3>
    <%== markdown_to_html devolutiva.orientacoes_profissional %>
  </div>
<% end %>
