<% titulo "Editar função - #{@profissional_funcao.funcao}" %>
<h1><%= @profissional_funcao.funcao %> - Editar</h1>

<%= render "navbar" %>

<%= render "form", profissional_funcao: @profissional_funcao %>
