<h1>Funções profissionais</h1>

<table id="tabela-funcoes">
  <thead>
    <tr>
      <th>ID</th>
      <th>Função (no masculino)</th>
      <th>Órgão responsável</th>
      <th>Tipo de documento</th>
      <th>Flexão no feminino</th>
      <th>Serviço prestado (no geral)</th>
      <th>Adjetivo masculino</th>
      <th>Adjetivo feminino</th>
      <th>Realiza atendimentos na clínica</th>
    </tr>
    <tr id="new_profissional_funcao">
      <td colspan="100%" style="text-align:center;">
        <%# <%= link_to "+ função", new_profissional_funcao_path, class: "button" %1> %>
        <%= hx_link "+ função", new_profissional_path, select: "#new_profissional_funcao", target: "#new_profissional_funcao", swap: "outerHTML", class: "button" %>
      </td>
    </tr>
  </thead>
  <tbody>
    <% @profissional_funcoes.each do |profissional_funcao| %>
      <%= render "profissional_funcao_tabela", profissional_funcao: profissional_funcao %>
    <% end %>
  </tbody>
</table>
