<h1>Criar função profissional</h1>

<%= render "navbar" %>

<%= render "form", profissional_funcao: @profissional_funcao %>
<%# <%= render "form-tabela", profissional_funcao: @profissional_funcao %1> %>
