<% usuario = usuario_atual.secretaria? || usuario_atual.profissional == acompanhamento.profissional %>
<% if acompanhamento != nil %>
  <table class="tabela" id="tabela-caso-resumo">
    <caption>
      Informações do acompanhamento<br />
      <!--span style="font-size:.7em;"><%#= link_to "Baixar", { controller: :acompanhamentos, action: :caso_detalhes, id: acompanhamento.id, format: :pdf }, { target: :blank } %>
    </span>-->
    <span style="font-size:.7em;">
      <%= link_to "Baixar prontuário (Markdown)", { controller: :acompanhamentos, action: :prontuario, id: acompanhamento.id, format: :md }, { style: "color:pink;" } %>
    </span>
    </caption>
    <thead>
      <tr>
        <th>Data do atendimento</th>
        <th>Horário do atendimento</th>
        <th>Modalidade, tipo, local e status</th>
        <th>Valor</th>
        <th width="30%">Anotações do profissional</th>
        <th>Instrumentos usados</th>
        <% if @acompanhamento.profissional_id == usuario_atual.profissional_id || usuario_atual.secretaria? %>
          <th>Opções</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% acompanhamento.atendimentos.includes(:atendimento_valor, :instrumento_relatos).order(data: :desc, horario: :desc).each do |a| %>
      <%= render 'atendimentos/atendimento-tabela-form', atendimento: a %>
    <% end %>
    </tbody>
  </table>
<% end %>
