<nav class="navbar navcenter">
  <ul>
    <li>
      <%= link_to "Acompanhamento", acompanhamento_path, class: "icon-previous" %>
    </li>
    <li>
      <%= link_to "Recebimentos", recebimentos_acompanhamento_path, class: "icon-coins" %>
    </li>
    <li>
      <%= link_to "Valores de atendimentos", atendimento_valores_acompanhamento_path, class: "icon-archive" %>
    </li>
    <li>
      <%= link_to "Reajustes", acompanhamento_reajustes_acompanhamento_path, class: "icon-abacus" %>
    </li>
  </ul>
</nav>
