<% titulo "Acompanhamentos" %>
<h1>Acompanhamentos</h1>
<%= link_to "+ acompanhamento", new_acompanhamento_path, class: "btn-novo", data: {
  turbo_frame: :modal
} %>

<nav>
  <% AcompanhamentoTipo.all.each do |t| %>
    <button
      hx-get="<%= url_for(controller: :acompanhamentos, action: :index, tipo: t.id, em_andamento: params[:em_andamento], ajax: true) %>"
      hx-target="#acompanhamentos-container"
      hx-swap="outerHTML">
    <%= t.tipo.titlecase %>
    </button>
  <% end %>
  
</nav>
<%= render "acompanhamentos-container", acompanhamentos: @acompanhamentos %>
