<% titulo "Novo atendimento - #{@acompanhamento.tipo.upcase} #{@acompanhamento.pessoa.nome_abreviado}" %>

<% atendimento_referencia = @acompanhamento.atendimentos.realizados.em_ordem.last %>
<% if atendimento_referencia %>
  <%= render "atendimentos/form", atendimento: @acompanhamento.atendimentos.new(data: ((atendimento_referencia&.data || Date.current) + 1.week) || Date.current + 1.week, horario: atendimento_referencia&.horario, horario_fim: atendimento_referencia&.horario_fim || (atendimento_referencia&.horario + 1.hour), atendimento_modalidade: atendimento_referencia&.atendimento_modalidade, atendimento_tipo: atendimento_referencia&.atendimento_tipo, atendimento_local: atendimento_referencia&.atendimento_local) %>
<% else %>
  <%= render "atendimentos/form", atendimento: @acompanhamento.atendimentos.new() %>
<% end %>
<% @acompanhamento.acompanhamento_horarios.each do |horario| %>
  <div>
    <%= atendimento_referencia.data.wday == horario.semana_dia.id %>
    <%= (Date.today + 1.week).all_week.to_a[horario.semana_dia.id] %>
  </div>
<% end %>
