<h1>Editing civil estado</h1>

<%= render "form", civil_estado: @civil_estado %>

<br>

<div>
  <%= link_to "Show this civil estado", @civil_estado %> |
  <%= link_to "Back to civil estados", civil_estados_path %>
</div>
