<div id="<%= dom_id profissional_horario %>">
  <p>
    <strong>Profissional:</strong>
    <%= profissional_horario.profissional_id %>
  </p>

  <p>
    <strong>Semana dia:</strong>
    <%= profissional_horario.semana_dia_id %>
  </p>

  <p>
    <strong>Horario:</strong>
    <%= profissional_horario.horario %>
  </p>

</div>
