<h1>Editing profissional horario</h1>

<%= render "form", profissional_horario: @profissional_horario %>

<br>

<div>
  <%= link_to "Show this profissional horario", @profissional_horario %> |
  <%= link_to "Back to profissional horarios", profissional_horarios_path %>
</div>
