<h1>Editing atendimento plataforma</h1>

<%= render "form", atendimento_plataforma: @atendimento_plataforma %>

<br>

<div>
  <%= link_to "Show this atendimento plataforma", @atendimento_plataforma %> |
  <%= link_to "Back to atendimento plataformas", atendimento_plataformas_path %>
</div>
