<p style="color: green"><%= notice %></p>


<h1>Hahaha</h1>
<div>
  <%= link_to "Edit this atendimento tipo", edit_atendimento_tipo_path(@atendimento_tipo) %> |
  <%= link_to "Back to atendimento tipos", atendimento_tipos_path %>

  <%= button_to "Destroy this atendimento tipo", @atendimento_tipo, method: :delete %>
</div>
