<h1>Editing biblioteca autor</h1>

<%= render "form", biblioteca_autor: @biblioteca_autor %>

<br>

<div>
  <%= link_to "Show this biblioteca autor", @biblioteca_autor %> |
  <%= link_to "Back to biblioteca autores", biblioteca_autores_path %>
</div>
