<tr>
  <th colspan=2>Informações</th>
</tr>
<tr>
  <th>Técnicas utilizadas</th>
  <td><%= render "laudos/tabela-informacoes/laudo-tecnicas", laudo: laudo %></td>
</tr>

<tr>
  <th>Análise</th>
  <td><%= render "laudos/tabela-informacoes/laudo-analise", laudo: laudo %></td>
</tr>

<tr>
  <th>Conclusão</th>
  <td><%= render "laudos/tabela-informacoes/laudo-conclusao", laudo: laudo %></td>
</tr>

<tr>
  <th>Referências</th>
  <td><%= render "laudos/tabela-informacoes/laudo-referencias", laudo: laudo %></td>
</tr>
