<h1>Laudos</h1>
<p>Selecione o laudo para visualizar</p>

<ul>
  <% @laudos.each do |laudo| %>
    <li>
      <%= link_to laudo do %>
        <strong><%= laudo.paciente.nome_abreviado %></strong>
        -
        <%= laudo.profissional.nome_abreviado %>
        (<%= render_data_brasil laudo.data_avaliacao %>)
      <% end %>
    </li>
  <% end %>
</ul>
