<h1>Editing profissional folga</h1>

<%= render "form", profissional_folga: @profissional_folga %>

<br>

<div>
  <%= link_to "Show this profissional folga", @profissional_folga %> |
  <%= link_to "Back to profissional folgas", profissional_folgas_path %>
</div>
