<% titulo "Editar devolutiva" %>
<h1>Editing Usuario Devolutiva</h1>

<%= render 'form', devolutiva: @pessoa_devolutiva %>

<%= link_to 'Show', @devolutiva %> |
<%= link_to 'Back', devolutivas_path %>
