<p id="notice"><%= notice %></p>

<h1>Devolutivas para pacientes</h1>
<%= link_to '+ devolutiva', new_pessoa_devolutiva_path %>

<ul class="lista-pessoa-devolutivas">
<% @pessoa_devolutivas.each do |pessoa_devolutiva| %>
  <li><%= link_to "#{pessoa_devolutiva.informacoes_abreviadas} [#{render_data_brasil pessoa_devolutiva.data}]", pessoa_devolutiva %></li>
<% end %>
</ul>
