<% titulo "Devolutiva #{@pessoa_devolutiva.paciente.nome_abreviado}" %>
<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_pessoa_devolutiva_path(@pessoa_devolutiva) %> |
<%= link_to 'Back', pessoa_devolutivas_path %>

<%= render "tabela-resumo", devolutiva: @pessoa_devolutiva %>
