<h1>Adicionar local de atendimento</h1>

<nav class="navbar navcenter">
  <ul>
    <li>
      <%= link_to "Voltar", atendimento_locais_path, class: "icon-previous" %>
    </li>
  </ul>
</nav>
<%= render "form", atendimento_local: @atendimento_local %>
