<h1>New acompanhamento finalizacao motivo</h1>

<%= render "form", acompanhamento_finalizacao_motivo: @acompanhamento_finalizacao_motivo %>

<br>

<div>
  <%= link_to "Back to acompanhamento finalizacao motivos", acompanhamento_finalizacao_motivos_path %>
</div>
