<h1>Editing neuropsicologico adulto anamnese</h1>

<%= render "form", neuropsicologico_adulto_anamnese: @neuropsicologico_adulto_anamnese %>

<br>

<div>
  <%= link_to "Show this neuropsicologico adulto anamnese", @neuropsicologico_adulto_anamnese %> |
  <%= link_to "Back to neuropsicologico adulto anamneses", neuropsicologico_adulto_anamneses_path %>
</div>
