<h1>Editing neuropsicologico adulto anamnese</h1>

<%= render "form", adulto_anamnese: @adulto_anamnese %>

<br>

<div>
  <%= link_to "Mostrar anamnese", @adulto_anamnese, class: "icon-eye" %> |
  <%= link_to "Voltar às anamneses", adulto_anamneses_path, clas: "icon-previous" %>
</div>
