<% titulo "Anamneses adultas" %>

<p style="color: green"><%= notice %></p>

<h1>Anamneses adultas</h1>

<div id="adulto_anamneses">
  <% @adulto_anamneses.each do |adulto_anamnese| %>
    <%= render adulto_anamnese %>
    <p>
      <%= link_to "Show this  adulto anamnese", adulto_anamnese %>
    </p>
  <% end %>
</div>

<nav class="navbar navcenter">
  <ul>
    <li>
      <%= link_to "Adicionar", new_adulto_anamnese_path, class: "icon-plus" %>
    </li>
  </ul>
</nav>
