<% titulo "Anamneses adultas" %>

<p style="color: green"><%= notice %></p>

<h1>Anamneses adultas</h1>

<%= render "navbar_query" %>

<%= render "adulto_anamneses_container", adulto_anamneses: @adulto_anamneses %>

<nav class="navbar navcenter">
  <ul>
    <li>
      <%= link_to "Adicionar", new_adulto_anamnese_path, class: "icon-plus" %>
    </li>
  </ul>
</nav>
