<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>

<nav class="navbar">
  <ul>
    <li>
      <%= link_to 'adicionar', new_usuario_path, class: 'icon-plus' %>
    </li>
  </ul>
</nav>

<div class="pessoas-container">
  <% @usuarios.each do |usuario| %>
    <%= render "card", usuario: usuario %>
  <% end %>
</div>

<br>
