<h1>Editing atendimento modalidade</h1>

<%= render "form", atendimento_modalidade: @atendimento_modalidade %>

<br>

<div>
  <%= link_to "Show this atendimento modalidade", @atendimento_modalidade %> |
  <%= link_to "Back to atendimento modalidades", atendimento_modalidades_path %>
</div>
