<h1>Tipos de acompanhamento</h1>
<nav class="navbar navcenter">
  <ul>
    <li>
      <%= link_to "Painel administrativo", admin_root_path(), class: "icon-previous" %>
    </li>
  </ul>
</nav>

<% @acompanhamento_tipos.each do |acompanhamento_tipo| %>
  <%= render "acompanhamento_tipo", acompanhamento_tipo: acompanhamento_tipo %>
<% end %>
