/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require leaflet
 */

:root {
	/* principais cores do tema */
	--main-color: #ba0515;
	--secondary-color: #54131b;
	--light-color: #ff7777;
	--main-light-color: white;
	--main-dark-color: black;
	--button-light-color: darkred;
	--button-light-color-2: pink;
	--button-dark-color: pink;
	--button-dark-color-2: darkred;
	/* cores a substituir nos temas */
	--doc-lightest-color: #eee;
	--doc-light-color: #999;
	--doc-medium-color: #777;
	--doc-dark-color: #333;
	--doc-darkest-color: #222;

	--doc-text-color: #333;
	--doc-text-alt-color: #777;
	--doc-text-disabled-color: #777;

	--doc-shade-color: #111;
	--doc-a-color: var(--main-color);

	--table-dark-color: #333344;
	--table-medium-color: yellow;
	--table-light-color: #fff;
	--table-dark-alt-color: #222224;
	--table-light-alt-color: #fee5e9;
	--table-medium-alt-color: blue;
	--table-dark-highlight-color: #222244;
	--table-light-highlight-color: #fcadb7;

	/* paleta de cores */
	--doc-blue-light: #9cc0e5;
	--doc-blue-medium-light: #79aadb;
	--doc-blue-medium: #0a4d9d;
	--doc-blue-dark: #191354;
	--doc-red-light: #e59c9f;
	--doc-red-medium-light: #dd6a7b;
	--doc-red-medium: #c12c42;
	--doc-red-dark: #541319;
	--doc-yellow-light: #e5ce9c;
	--doc-yellow-medium-light: #e0bd5a;
	--doc-yellow-medium: #c1982c;
	--doc-yellow-dark: #542813;
	--doc-green-light: #b0e59c;
	--doc-green-medium-light: #6dcb82;
	--doc-green-medium: #2a8338;
	--doc-green-dark: #13541e;
	--doc-purple-light: #e09ce5;
	--doc-purple-medium-light: #b855e9;
	--doc-purple-medium: #7824a0;
	--doc-purple-dark: #2e1354;
	--doc-cyan-light: #cdfaf8;
	--doc-cyan-medium-light: #6ee8c1;
	--doc-cyan-medium: #2ab37a;
	--doc-cyan-dark: #135445;

	/* para cadastros no geral */
	--male-light-color: var(--doc-blue-light);
	--male-medium-color: var(--doc-blue-medium);
	--male-dark-color: var(--doc-blue-dark);
	--female-light-color: var(--doc-red-light);
	--female-medium-color: var(--doc-red-medium);
	--female-dark-color: var(--doc-red-dark);
	
	--profissional-light-color: var(--doc-yellow-light);
	--profissional-medium-color: var(--doc-yellow-medium);
	--profissional-dark-color: var(--doc-yellow-dark);

	/* cores de acompanhamentos */
	--acompanhamento-em-andamento-light-color: var(--doc-green-light);
	--acompanhamento-em-andamento-dark-color: var(--doc-green-dark);
	--acompanhamento-finalizado-opacity: .7;
	--acompanhamento-finalizado-alta-light-color: var(--doc-blue-light);
	--acompanhamento-finalizado-alta-dark-color: var(--doc-blue-dark);
	--acompanhamento-finalizado-encaminhamento-light-color: var(--doc-purple-light);
	--acompanhamento-finalizado-encaminhamento-dark-color: var(--doc-purple-dark);
	--acompanhamento-finalizado-questoes-financeiras-light-color: var(--doc-yellow-light);
	--acompanhamento-finalizado-questoes-financeiras-dark-color: var(--doc-yellow-dark);
	--acompanhamento-finalizado-desistencia-light-color: var(--doc-red-light);
	--acompanhamento-finalizado-desistencia-dark-color: var(--doc-red-dark);

	/* cores de atendimentos */
	--atendimento-default-bg-color: white;
	--atendimento-default-text-color: black;
	--atendimento-default-shade-color: gray;
	--atendimento-default-highlight-color: lightgray;
	--atendimento-a-ocorrer-light-color: var(--doc-blue-light);
	--atendimento-a-ocorrer-medium-color: var(--doc-blue-medium);
	--atendimento-a-ocorrer-medium-light-color: var(--doc-blue-medium-light);
	--atendimento-a-ocorrer-dark-color: var(--doc-blue-dark);
	--atendimento-realizado-light-color: var(--doc-green-light);
	--atendimento-realizado-medium-color: var(--doc-green-medium);
	--atendimento-realizado-medium-light-color: var(--doc-green-medium-light);
	--atendimento-realizado-dark-color: var(--doc-green-dark);
	--atendimento-nao-realizado-light-color: var(--doc-red-light);
	--atendimento-nao-realizado-medium-color: var(--doc-red-medium);
	--atendimento-nao-realizado-medium-light-color: var(--doc-red-medium-light);
	--atendimento-nao-realizado-dark-color: var(--doc-red-dark);
	--atendimento-em-andamento-light-color: var(--doc-cyan-light);
	--atendimento-em-andamento-medium-color: var(--doc-cyan-medium);
	--atendimento-em-andamento-medium-light-color: var(--doc-cyan-medium-light);
	--atendimento-em-andamento-dark-color: var(--doc-cyan-dark);
	--atendimento-em-breve-light-color: var(--doc-yellow-light);
	--atendimento-em-breve-medium-color: var(--doc-yellow-medium);
	--atendimento-em-breve-medium-light-color: var(--doc-yellow-medium-light);
	--atendimento-em-breve-dark-color: var(--doc-yellow-dark);
	--atendimento-na-hora-light-color: var(--doc-purple-light);
	--atendimento-na-hora-medium-color: var(--doc-purple-medium);
	--atendimento-na-hora-medium-light-color: var(--doc-purple-medium-light);
	--atendimento-na-hora-dark-color: var(--doc-purple-dark);

	/* cores do financeiro */
	--financeiro-row-odd-bg-light: #d5fdd0;
	--financeiro-row-odd-bg-dark: #344433;
	--financeiro-row-even-bg-light: #ffffff;
	--financeiro-row-even-bg-dark: #222222;
	--financeiro-highlight-bg-light: #9cfb8e;
	--financeiro-highlight-bg-dark: #264422;


	/* fontes (talvez alterar com temas?) */
	--doc-heading-font: 'tex gyre adventor', 'ubuntu', sans-serif;
	--doc-text-font: 'linux biolinum o', 'linux libertine', serif;

	/* padrão da aplicação */
	scroll-behavior: smooth;
}

/* temas */
.light {
	--doc-bg-color: var(--doc-lightest-color);
	--doc-bg-alt-color: var(--doc-light-color);
	--doc-documento-bg-color: white;
	--doc-documento-th-color: lightgray;
	--doc-text-color: var(--doc-dark-color);
	--doc-a-color: var(--main-color);
	--doc-input-bg-color: lightgray;
	--doc-input-bg-focus-color: white;
	--doc-input-border-color: var(--doc-blue-dark);
	--doc-input-border-highlight-color: var(--doc-blue-light);

	background-color: var(--alt-color);
	--button-bg-color: var(--button-light-color);
	--button-bg-alt-color: var(--button-light-color-2);

	--table-bg-color: var(--table-light-color);
	--table-bg-alt-color: var(--table-light-alt-color);
	--table-text-color: var(--table-dark-color);
	--table-highlight-color: var(--table-light-highlight-color);

	/* para cadastros no geral */
	--male-bg-color: var(--male-light-color);
	--male-shade-color: var(--male-medium-color);
	--male-text-color: var(--male-dark-color);
	--female-bg-color: var(--female-light-color);
	--female-shade-color: var(--female-medium-color);
	--female-text-color: var(--female-dark-color);
	
	--profissional-bg-color: var(--profissional-light-color);
	--profissional-shade-color: var(--profissional-medium-color);
	--profissional-text-color: var(--profissional-dark-color);

	/* cores de acompanhamentos */
	--acompanhamento-em-andamento-bg-color: var(--acompanhamento-em-andamento-light-color);
	--acompanhamento-em-andamento-text-color: var(--acompanhamento-em-andamento-dark-color);
	--acompanhamento-finalizado-opacity: .7;
	--acompanhamento-finalizado-alta-bg-color: var(	--acompanhamento-finalizado-alta-light-color);
	--acompanhamento-finalizado-alta-text-color: var(--acompanhamento-finalizado-alta-dark-color);
	--acompanhamento-finalizado-encaminhamento-bg-color: var(--acompanhamento-finalizado-encaminhamento-light-color);
	--acompanhamento-finalizado-encaminhamento-text-color: var(--acompanhamento-finalizado-encaminhamento-dark-color);
	--acompanhamento-finalizado-questoes-financeiras-bg-color: var(--acompanhamento-finalizado-questoes-financeiras-light-color);
	--acompanhamento-finalizado-questoes-financeiras-text-color: var(--acompanhamento-finalizado-questoes-financeiras-dark-color);
	--acompanhamento-finalizado-desistencia-bg-color: var(--acompanhamento-finalizado-desistencia-light-color);
	--acompanhamento-finalizado-desistencia-text-color: var(--acompanhamento-finalizado-desistencia-dark-color);

	/* cores de atendimentos */
	--atendimento-a-ocorrer-bg-color: var(--atendimento-a-ocorrer-light-color);
	--atendimento-a-ocorrer-shade-color: var(--atendimento-a-ocorrer-medium-color);
	--atendimento-a-ocorrer-highlight-color: var(--atendimento-a-ocorrer-medium-light-color);
	--atendimento-a-ocorrer-text-color: var(--atendimento-a-ocorrer-dark-color);
	--atendimento-realizado-bg-color: var(--atendimento-realizado-light-color);
	--atendimento-realizado-shade-color: var(--atendimento-realizado-medium-color);
	--atendimento-realizado-highlight-color: var(--atendimento-realizado-medium-light-color);
	--atendimento-realizado-text-color: var(--atendimento-realizado-dark-color);
	--atendimento-nao-realizado-bg-color: var(--atendimento-nao-realizado-light-color);
	--atendimento-nao-realizado-shade-color: var(--atendimento-nao-realizado-medium-color);
	--atendimento-nao-realizado-highlight-color: var(--atendimento-nao-realizado-medium-light-color);
	--atendimento-nao-realizado-text-color: var(--atendimento-nao-realizado-dark-color);
	--atendimento-em-andamento-bg-color: var(--atendimento-em-andamento-light-color);
	--atendimento-em-andamento-shade-color: var(--atendimento-em-andamento-medium-color);
	--atendimento-em-andamento-highlight-color: var(--atendimento-em-andamento-medium-light-color);
	--atendimento-em-andamento-text-color: var(--atendimento-em-andamento-dark-color);
	--atendimento-em-breve-bg-color: var(--atendimento-em-breve-light-color);
	--atendimento-em-breve-shade-color: var(--atendimento-em-breve-medium-color);
	--atendimento-em-breve-highlight-color: var(--atendimento-em-breve-medium-light-color);
	--atendimento-em-breve-text-color: var(--atendimento-em-breve-dark-color);
	--atendimento-na-hora-bg-color: var(--atendimento-na-hora-light-color);
	--atendimento-na-hora-shade-color: var(--atendimento-na-hora-medium-color);
	--atendimento-na-hora-highlight-color: var(--atendimento-na-hora-medium-light-color);
	--atendimento-na-hora-text-color: var(--atendimento-na-hora-dark-color);

	--financeiro-row-odd-bg: var(--financeiro-row-odd-bg-light);
	--financeiro-row-even-bg: var(--financeiro-row-even-bg-light);
	--financeiro-highlight-bg: var(--financeiro-highlight-bg-light);
}

.dark {
	--doc-bg-color: var(--doc-darkest-color);
	--doc-bg-alt-color: var(--doc-dark-color);
	--doc-documento-bg-color: #111;
	--doc-documento-th-color: #000;
	--doc-text-color: var(--doc-lightest-color);
	--doc-a-color: var(--light-color);
	--doc-input-bg-color: #222;
	--doc-input-bg-focus-color: #000;
	--doc-input-border-color: var(--doc-blue-light);
	--doc-input-border-highlight-color: var(--doc-blue-medium-light);

	--button-bg-color: var(--button-dark-color);
	--button-bg-alt-color: var(--button-dark-color-2);

	--table-bg-color: var(--table-dark-color);
	--table-bg-alt-color: var(--table-dark-alt-color);
	--table-text-color: var(--table-light-color);
	--table-highlight-color: var(--table-dark-highlight-color);

	/* para cadastros no geral */
	--male-bg-color: var(--male-dark-color);
	--male-shade-color: var(--male-medium-color);
	--male-text-color: var(--male-light-color);
	--female-bg-color: var(--female-dark-color);
	--female-shade-color: var(--female-medium-color);
	--female-text-color: var(--female-light-color);
	
	--profissional-bg-color: var(--profissional-dark-color);
	--profissional-shade-color: var(--profissional-medium-color);
	--profissional-text-color: var(--profissional-light-color);

	/* cores de acompanhamentos */
	--acompanhamento-em-andamento-bg-color: var(--acompanhamento-em-andamento-dark-color);
	--acompanhamento-em-andamento-text-color: var(--acompanhamento-em-andamento-light-color);
	--acompanhamento-finalizado-opacity: .7;
	--acompanhamento-finalizado-alta-bg-color: var(	--acompanhamento-finalizado-alta-dark-color);
	--acompanhamento-finalizado-alta-text-color: var(--acompanhamento-finalizado-alta-light-color);
	--acompanhamento-finalizado-encaminhamento-bg-color: var(--acompanhamento-finalizado-encaminhamento-dark-color);
	--acompanhamento-finalizado-encaminhamento-text-color: var(--acompanhamento-finalizado-encaminhamento-light-color);
	--acompanhamento-finalizado-questoes-financeiras-bg-color: var(--acompanhamento-finalizado-questoes-financeiras-dark-color);
	--acompanhamento-finalizado-questoes-financeiras-text-color: var(--acompanhamento-finalizado-questoes-financeiras-light-color);
	--acompanhamento-finalizado-desistencia-bg-color: var(--acompanhamento-finalizado-desistencia-dark-color);
	--acompanhamento-finalizado-desistencia-text-color: var(--acompanhamento-finalizado-desistencia-light-color);

	/* cores de atendimentos */
	--atendimento-a-ocorrer-bg-color: var(--atendimento-a-ocorrer-dark-color);
	--atendimento-a-ocorrer-shade-color: var(--atendimento-a-ocorrer-dark-color);
	--atendimento-a-ocorrer-highlight-color: var(--atendimento-a-ocorrer-medium-color);
	--atendimento-a-ocorrer-text-color: var(--atendimento-a-ocorrer-light-color);
	--atendimento-realizado-bg-color: var(--atendimento-realizado-dark-color);
	--atendimento-realizado-shade-color: var(--atendimento-realizado-dark-color);
	--atendimento-realizado-highlight-color: var(--atendimento-realizado-medium-color);
	--atendimento-realizado-text-color: var(--atendimento-realizado-light-color);
	--atendimento-nao-realizado-bg-color: var(--atendimento-nao-realizado-dark-color);
	--atendimento-nao-realizado-shade-color: var(--atendimento-nao-realizado-dark-color);
	--atendimento-nao-realizado-highlight-color: var(--atendimento-nao-realizado-medium-color);
	--atendimento-nao-realizado-text-color: var(--atendimento-nao-realizado-light-color);
	--atendimento-em-andamento-bg-color: var(--atendimento-em-andamento-dark-color);
	--atendimento-em-andamento-shade-color: var(--atendimento-em-andamento-dark-color);
	--atendimento-em-andamento-highlight-color: var(--atendimento-em-andamento-medium-color);
	--atendimento-em-andamento-text-color: var(--atendimento-em-andamento-light-color);
	--atendimento-em-breve-bg-color: var(--atendimento-em-breve-dark-color);
	--atendimento-em-breve-shade-color: var(--atendimento-em-breve-dark-color);
	--atendimento-em-breve-highlight-color: var(--atendimento-em-breve-medium-color);
	--atendimento-em-breve-text-color: var(--atendimento-em-breve-light-color);
	--atendimento-na-hora-bg-color: var(--atendimento-na-hora-dark-color);
	--atendimento-na-hora-shade-color: var(--atendimento-na-hora-dark-color);
	--atendimento-na-hora-highlight-color: var(--atendimento-na-hora-medium-color);
	--atendimento-na-hora-text-color: var(--atendimento-na-hora-light-color);

	--financeiro-row-odd-bg: var(--financeiro-row-odd-bg-dark);
	--financeiro-row-even-bg: var(--financeiro-row-even-bg-dark);
	--financeiro-highlight-bg: var(--financeiro-highlight-bg-dark);
}


.simple-calendar {
	display: grid;
	content-align: center;

	.table {
	border-collapse: collapse;
	display: table;
	width: 100%;
	table-layout: fixed;	
  }
  .day {
	text-align: center;
	content-align: center;
  }

  .wday-0 {
	  background-color: var(--doc-red-light);
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
	background-color: var(--doc-bg-color);
  }
  .past {
	background-color: var(--doc-bg-alt-color);
  }
  .future {
	background-color: var(--doc-bg-color);
  }

  .start-date {}

  .prev-month {

  }
  .next-month {
	  
  }
  .current-month {}

  .has-events {}

  .calendar-heading {
	font-size: 1.2em;
	text-align: center;
	padding-bottom: 1em;
  }
  .calendar-title {
	font-family: var(--doc-heading-font);
	font-weight: bold;
	font-size: 1.5em;
	padding: 0 2em 0 2em;
  }
}

.calendario-dia {
	margin: 0;
	position: relative;
	top: 0;
	left: 0;
}


.modal {
	position: fixed;
	z-index: 1;
	padding: 2em;
	width: 62%;
	
	/* center */
	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
	overflow: auto;
	background-color: #fdfdfd;
	border-radius: 10px;

	/* add drop shadow */
	box-shadow: 0 0 2rem black;
}

.grid-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.grid-3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.grid-4 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-5 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-6 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

}

/* default input style */
input, select, textarea {
	background-color: var(--doc-input-bg-color);
	color: var(--doc-text-color);
	padding: .5em;
	/* font-size: 1.1em; */
	/* margin-top: .4em; */
	/* margin-bottom: 1em; */
	/* margin-inline: .3em; */
	border-style: solid;
	border-color: var(--doc-input-border-color);
	border-radius: .0em .5em .5em .5em;
	min-width: 7em;
	max-width: 45em;
	border-width: 1px;
	
	&:hover {
		border-color: var(--doc-input-border-highlight-color);
	}

	&:focus {
		background-color: var(--doc-input-bg-focus-color);
		color: var(--doc-text-color);
	}
}
select, textarea, input[type="text"], input[type="tel"] {
	min-width: 30em;
}

input[type="submit"]{
	cursor: pointer;
	background-color: var(--main-color);
	color: white;
	font-size: 1em;
	font-weight: bold;

	transition: transform 300ms ease-out,
		box-shadow 300ms ease-out;
	&:hover {
		transform: translateY(-.2em);
		box-shadow: 0 .3em var(--doc-text-color);
	}
}
.checkbox {
	display: flex;
	align-items: center;
}
input[type="checkbox"] {
	--size: 2em;
	min-width: 1em;
	position: relative;
	display: inline-block;
	appearance: none;
	height: var(--size);
	width: var(--size);
	background-color: lightgray;
	border-radius: 1em;
	cursor: pointer;

	& + label {
		/* font-size: 1.5em; */
	}

	&::after {
		display: flex;
		opacity: 0;
		align-items: center;
		justify-content: center;
		content: "x";
	}
	&:hover {
		background-color: gray;
	}
	&:checked {
		background-color: green;
		&::after {
			opacity: 1;
			color: white;
			content: "x";
		}
		&:hover {
			background-color: darkgreen;
		}
	}
}
select option {
	background-color: var(--doc-bg-color);
	color: var(--doc-text-color);
}
.field, .checkbox {
	margin-bottom: 1em;
	margin-top: 2em;
	border-color: var(--doc-text-color);
}
.field {
	position: relative;

	& label {
		--padding-inline: 1em;
		position: absolute;
		transform: translateY(-1.5em);
		padding-bottom: .5em;
		padding-top: 0;
		padding-left: var(--padding-inline);
		padding-right: var(--padding-inline);
		margin-left: 0;
		background-color: var(--main-color);
		color: white;
		border-radius: 1em 1em 0 0;
		border-color: var(--doc-text-color);
		border-style: solid;
		border-width: 1px;
		z-index: -1;
		font-weight: bold;
	}
}

/* default table style */
/* em inglês pra seguir o padrão da tag */
table {
	--caption-position: top;

	/* padding */
	--default-padding: 1em;
	--data-padding: var(--default-padding);
	--row-padding: var(--default-padding);
	--caption-padding: var(--default-padding);
	--header-padding: var(--default-padding);

	/* margin */
	--default-margin: 0;
	--data-margin: var(--default-margin);
	--row-margin: var(--default-margin);
	--caption-margin: var(--default-margin);
	--header-margin: var(--default-margin);

	/* fonts and text */
	--caption-font: var(--doc-heading-font);
	--caption-size: 1.5em;
	--caption-align: center;
	--caption-text-transform: uppercase;
	--caption-weight: bold;
	--caption-decoration: none;
	--caption-font-style: normal;
	--header-font: var(--doc-heading-font);
	--header-size: 1em;
	--header-align: center;
	--header-text-transform: none;
	--header-weight: bold;
	--header-decoration: none;
	--header-font-style: normal;
	--data-font: var(--doc-text-font);
	--data-align: left;
	--data-text-transform: none;
	--data-weight: normal;
	--data-decoration: none;
	--data-font-style: normal;

	/* colors */
	--caption-bg: var(--main-color);
	--caption-color: var(--main-light-color);
	--header-bg: var(--secondary-color);
	--header-color: var(--main-light-color);
	--data-bg: transparent;
	--data-color: var(--doc-text-color);
	--row-odd-bg: var(--table-bg-color);
	--row-even-bg: var(--table-bg-alt-color);
	--highlight-bg: var(--table-highlight-color);
	--highlight-color: var(--doc-text-color);
	width: 90%;
	margin: auto;
	box-shadow: .3em .3em 0 gray;
	border-collapse: collapse;
	caption-side: var(--caption-position);

	& caption {
		text-align: var(--caption-align);
		background: var(--caption-bg);
		font-family: var(--caption-font);
		color: var(--caption-color);
		font-size: var(--caption-size);
		text-transform: var(--caption-text-transform);
		font-weight: var(--caption-weight);
		margin: var(--caption-margin);
		padding: var(--caption-padding);
	}


	& tr {
		--bg: var(--row-odd-bg);
		--text-color: var(--table-text-color);
		padding: var(--row-padding);
		background: var(--bg);
		&:nth-child(2n) {
			--bg: var(--row-even-bg);
		}
		&:hover {
			--bg: var(--highlight-bg);
		}
	}

	& th {
		text-align: var(--header-align);
		padding: var(--header-padding);
		font-size: var(--header-size);
		font-family: var(--header-font);
		font-weight: var(--header-weight);
		text-decoration: var(--header-decoration);
		text-transform: var(--header-text-transform);
		font-style: var(--header-font-style);
		background: var(--header-bg);
		color: var(--header-color);
	}

	& td {
		position: relative;
		z-index: 0;
		text-align: var(--data-align);
		font-family: var(--data-font);
		font-weight: var(--data-weight);
		text-decoration: var(--data-decoration);
		text-transform: var(--data-text-transform);
		font-style: var(--data-font-style);
		font-size: var(--data-size);
		padding: var(--data-padding);
		margin: var(--data-margin);
		color: var(--data-color);
	}

	.dinheiro {
		--data-align: right;
		--data-font-style: italic;
	}

	.resultado {
		--data-align: right;
		--data-weight: bold;
		--data-font-style: italic;
		--data-decoration: underline;
	}
}

dt {
	font-weight: bold;
}

.texto-ajuda {
	font-size: 1.1em;
	& h1, h2, h3 {
		--padding: .3em;
		background-color: var(--main-color);
		color: white;
		padding-top: var(--padding);
		padding-bottom: var(--padding);
		padding-left: var(--padding);
		padding-right: var(--padding);
	}
}

/* navbar */
.navbar {
	position: relative;
	z-index: 10;
	background-color: var(--main-color);
	font-family: var(--doc-heading-font);
	font-weight: bold;
	color: var(--main-light-color);
	& a {
		color: var(--main-light-color);
	}

	& ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: var(--main-color);
		overflow: hidden;

		& li {
			float: left;
			& a {
				padding: .5em;
				display: block;
				text-align: center;
				&:hover {
					background: var(--secondary-color);
				}
			}
			& ul {
				display: none;
				& li {
					float: none;
					& a {
						text-align: left;
					}
				}
			}
			&:hover ul {
				display: block;
				position: absolute;
			}
		}
	}

	& input {
		margin-top: 1em;
		margin-bottom: 1em;
		margin-left: 1em;
		margin-right: 1em;
	}
}

.navbar-main {
	z-index: 10000;
}

.navcenter {
	display: flex;
	justify-content: center;
}

.text-center {
	text-align: center;
}

/* visualização de aparentes documentos */
.documento-modelo-wrapper {
	display: grid;
	grid-template-columns: .5fr 1fr;
	margin-inline: 2em;
}

.documento-modelo-descricao {
	h1, h2 {
		background-color: var(--main-color);
		color: white;
		padding: 1em;
		border-radius: 1em;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.documento {
	p {
		text-align: justify;
	}
	background-color: var(--doc-documento-bg-color);
	padding-left: 4em;
	padding-right: 4em;
	padding-top: 3em;
	padding-bottom: 5em;
	/* height: 70vh; */
	box-shadow: .3em .3em 0 0 gray;

	table {
		--caption-position: bottom;
		--caption-bg: transparent;
		--caption-size: .8em;
		--caption-margin: 1em 0 0 0;
		--caption-color: var(--doc-text-color);
		--caption-text-transform: none;
		--caption-weight: normal;
		--caption-font: var(--doc-text-font);

		--header-bg: var(--doc-documento-th-color);
		--header-color: var(--doc-text-color);
		/* --row-odd-bg: white; */
		/* --row-even-bg: #eee; */
		--highlight-bg: var(--row-odd-bg);
		tr {
			&:nth-child(2n) {
				--highlight-bg: var(--row-even-bg);
			}
		}
		/*
		caption {
			margin-top: 1em;
			font-size: .8em;
			text-transform: none;
			font-weight: normal;
			font-family: var(--doc-text-font);
		}
		th {
			background-color: lightgray;
		}
		tr {
			&:nth-child(2n) {
				background-color: #eee;
			}
			&:hover {
				
			}
		}
		*/
	}
}

/* utilitárias */
.overflow-y-scroll {
	overflow-y: scroll;
}

/* links */
.link-home::before {
}

.info-container {
	margin-left: 7em;
	margin-right: 7em;
}

.fancy-link-list {
	--padding-v: 1em;
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	& a {
		--bg-color: var(--main-color);
		--text-color: white;
		--bg-color-hover: var(--secondary-color);
		--text-color-hover: pink;
		padding-top: var(--padding-v);
		padding-bottom: var(--padding-v);
		display: block;
		background-color: var(--bg-color);
		color: var(--text-color);
		
		&:hover {
			background-color: var(--bg-color-hover);
			color: var(--text-color-hover);
		}
	}
}

.card {
	--displace-v: -.5em;
	--shade-color: var(--doc-shade-color);
	--bg-color: var(--main-color);
	--text-color: white;

	background-color: var(--bg-color);
	color: var(--text-color);
	margin: 1em;
	padding-left: 1.2em;
	padding-right: 1.2em;
	padding-top: 1em;
	padding-bottom: 1em;
	border-radius: 1em;
	text-decoration: none;
	z-index: 0;

	transition: transform 250ms ease-out,
		box-shadow 300ms ease-out;

	h2, h3, h4, h5, h6, p {
		text-align: left;
	}

	&:hover {
		transform: translate(0, var(--displace-v));
		box-shadow: 0px calc(-1 * var(--displace-v)) var(--shade-color);
		z-index: 1;
	}
	& a {
		color: white;
	}
}

.card-destaque {
	background-color: var(--doc-bg-color);
	color: var(--doc-text-color);
}

.button {
	--bg-color: var(--main-color);
	--bg-alt-color: var(--secondary-color);
	padding: .5em;
	background-color: var(--bg-color);
	border-radius: 1em;
	color: white;
	&:hover {
		--bg-color: var(--bg-alt-color);
		text-decoration: none;
	}
}

.assinatura {
	& p {
		text-align: center;
	}
	& hr {
		width: 45ch;
	}
}

#main-title {
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;
}
