$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "assets/fonts/icomoon" !default;

$icon-save: "\e901";
$icon-attachment: "\e902";
$icon-awareness-ribbon: "\e906";
$icon-briefcase1: "\e907";
$icon-cake: "\e908";
$icon-calculator: "\e909";
$icon-calendar1: "\e90a";
$icon-circle-with-cross: "\e90b";
$icon-hair-cross: "\e90c";
$icon-mail: "\e90e";
$icon-man1: "\e90f";
$icon-new-message: "\e910";
$icon-v-card: "\e911";
$icon-telegram: "\e912";
$icon-whatsapp: "\e913";
$icon-home: "\e900";
$icon-office: "\e903";
$icon-newspaper: "\e904";
$icon-pencil: "\e905";
$icon-quill: "\e914";
$icon-image: "\e90d";
$icon-book: "\e91f";
$icon-books: "\e920";
$icon-library: "\e921";
$icon-profile: "\e923";
$icon-file-empty: "\e924";
$icon-file-text2: "\e926";
$icon-file-zip: "\e92b";
$icon-copy: "\e92c";
$icon-stack: "\e92e";
$icon-folder: "\e92f";
$icon-folder-open: "\e930";
$icon-coin-dollar: "\e93b";
$icon-lifebuoy: "\e941";
$icon-phone: "\e942";
$icon-address-book: "\e944";
$icon-envelop: "\e945";
$icon-location: "\e947";
$icon-location2: "\e948";
$icon-compass2: "\e94a";
$icon-clock: "\e94e";
$icon-clock2: "\e94f";
$icon-alarm: "\e950";
$icon-calendar: "\e953";
$icon-printer: "\e954";
$icon-keyboard: "\e955";
$icon-drawer: "\e95c";
$icon-drawer2: "\e95d";
$icon-box-add: "\e95e";
$icon-floppy-disk: "\e962";
$icon-bubble: "\e96b";
$icon-bubbles: "\e96c";
$icon-bubbles2: "\e96d";
$icon-user: "\e971";
$icon-user-tie: "\e976";
$icon-quotes-left: "\e977";
$icon-quotes-right: "\e978";
$icon-spinner4: "\e97d";
$icon-search: "\e986";
$icon-key: "\e98d";
$icon-lock: "\e98f";
$icon-unlocked: "\e990";
$icon-wrench: "\e991";
$icon-equalizer: "\e992";
$icon-equalizer2: "\e993";
$icon-cog: "\e994";
$icon-aid-kit: "\e998";
$icon-pie-chart: "\e99a";
$icon-leaf: "\e9a4";
$icon-bin: "\e9ac";
$icon-bin2: "\e9ad";
$icon-briefcase: "\e9ae";
$icon-airplane: "\e9af";
$icon-switch: "\e9b6";
$icon-tree: "\e9bc";
$icon-menu: "\e9bd";
$icon-download3: "\e9c7";
$icon-eye: "\e9ce";
$icon-eye-blocked: "\e9d1";
$icon-heart: "\e9da";
$icon-man: "\e9dc";
$icon-woman: "\e9dd";
$icon-man-woman: "\e9de";
$icon-warning: "\ea07";
$icon-notification: "\ea08";
$icon-question: "\ea09";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-enter: "\ea13";
$icon-exit: "\ea14";
$icon-play2: "\ea15";
$icon-pause: "\ea16";
$icon-stop: "\ea17";
$icon-previous: "\ea18";
$icon-next: "\ea19";
$icon-backward: "\ea1a";
$icon-forward2: "\ea1b";
$icon-play3: "\ea1c";
$icon-pause2: "\ea1d";
$icon-stop2: "\ea1e";
$icon-backward2: "\ea1f";
$icon-forward3: "\ea20";
$icon-first: "\ea21";
$icon-last: "\ea22";
$icon-previous2: "\ea23";
$icon-next2: "\ea24";
$icon-loop2: "\ea2e";
$icon-checkbox-checked: "\ea52";
$icon-checkbox-unchecked: "\ea53";
$icon-table: "\ea70";
$icon-table2: "\ea71";
$icon-section: "\ea76";
$icon-mail4: "\ea86";
$icon-github: "\eab0";
$icon-file-pdf: "\eadf";
$icon-file-word: "\eae1";
$icon-file-excel: "\eae2";
$icon-libreoffice: "\eae3";

