// Place all the styles related to the pessoas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "icomoon-variables";

.usuario-acompanhamentos {
	li {
		--padding-v: .3em;
		background-color: yellow;
		padding: var(--padding-v);
		margin: var(--padding-v);
		border-radius: 1em;
	}
}

.pessoas-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.pessoa-card {
	--displace-v: -.5em;
	--shade-color: var(--doc-shade-color);
	background-color: black;
	color: white;
	margin: 1em;
	padding-left: 1.2em;
	padding-right: 1.2em;
	border-radius: 1em;
	text-decoration: none;
	z-index: 0;
	position: relative;
	overflow: hidden;

	transition: transform 250ms ease-out,
	box-shadow 300ms ease-out;

	h2, h3, h4, h5, h6, p {
		text-align: left;
	}

	&::before {
		font-family: '#{$icomoon-font-family}' !important;
		speak: never;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		font-size: 10em;

		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smothing: grayscale;

		position: absolute;
		right: 10%;
		bottom: 10%;
		opacity: .25;
	}

	&:hover {
		transform: translate(0, var(--displace-v));
		box-shadow: 0px calc(-1 * var(--displace-v)) var(--shade-color);
		z-index: 1;
	}
}


.pessoa-container {
	text-align: center;
}

.masculino {
	background-color: var(--male-bg-color);
	color: var(--male-text-color);
	--shade-color: var(--male-shade-color);
	&::before {
		content: $icon-male;
	}
}
.feminino {
	background-color: var(--female-bg-color);
	color: var(--female-text-color);
	--shade-color: var(--female-shade-color);
	&::before {
		content: $icon-female;
	}
}

.profissional {
	background-color: var(--profissional-bg-color);
	color: var(--profissional-text-color);
	--shade-color: var(--profissional-shade-color);
}

.pessoa-profile-img {
	max-height: 5em;
}

.pessoa-parentes {
	& h3 {
	}
}
