<% atendimentos = atendimentos || [] %>
<% if !atendimentos.empty? %>
  <table class="tabela-atendimentos" id="tabela-atendimentos"
                                     hx-get="update_tabela_atendimentos_hoje"
                                     hx-trigger="every 5s"
                                     hx-target="#tabela-atendimentos"
                                     hx-swap="outerHTML">
    <caption>Atendimentos de hoje</caption>
    <thead>
      <tr>
        <th>Profissional</th>
        <th>Paciente</th>
        <th>Descrição</th>
        <th>Horário</th>
        <th>Local</th>
        <th>Status</th>
        <% if !usuario_atual.nil? %>
          <th>Ações</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% atendimentos.each do |ah| %>
        <%= render "atendimentos/atendimento-em-tabela", atendimento: ah %>
      <% end %>
    </tbody>
  </table>
<% end %>

<%# essa vai ser difícil, creio eu, mas ideia
é fazer com que o calendário atualize junto com a atualização
dos atendimentos de hoje %>
<% if hx_request? && false %>
  <%= render "calendario-atendimentos-semana", events: @atendimentos %>
<% end %>
